.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
          "Segoe UI Symbol";
}

h2{
  color:#000;
}
.button-container {
  width: 100%;
  bottom: 23%; 
  position: fixed;
  right: 0%;
  width: 25%;
  height: fit-content;
  color: #000;
  padding: 0.5rem 1rem; 
  box-sizing: border-box;
  margin-left: auto;
  button {
    padding: 0.5rem 1rem;
    position: absolute;
    display: inline-block;; /* Make buttons block-level elements */
    width: fit-content; /* Make buttons fill the entire width of the menu */
  }
  button + button {
    margin-left: 5rem;
  }
}

.codeTitle{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
          "Segoe UI Symbol";
  position: absolute;
  bottom: 80%;
  left: 25%;
  color: black;
  white-space: initial;
  width: 63%;
}

.CodeBlock {
  width: 50%;
  height: 35vh;

  
  #editing, #highlighting {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    width: 65%;
    height: 55vh;
    position: absolute;
    /* padding: 0.5rem; */
    margin: auto;
    border-radius: 0.25rem;
    top: 45%;
    left: 57%;
    transform: translate(-50%, -50%);
    
  }
  
  #editing, #highlighting, #highlighting * {
    /* Also add text styles to highlighting tokens */
    font-size: 15pt;
    font-family: monospace;
    line-height: 20pt;
  }

  /* Move the textarea in front of the result */
  #editing {
    z-index: 1;
    color: transparent;
    background: transparent;
    caret-color: black;
    border: 0.125rem solid rgba(0, 0, 0, 0.2);
  }

  #highlighting {
    z-index: 0;
    background-color: white;
  }
  
  #highlighting-content {
    top:0; left:0; padding:0;
  }
}

.ChooseCodeBlock {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  color: #000;
  padding: 20px; 
  box-sizing: border-box;
  p {
    margin: 0; /* Remove default margin */
  }
  button {
    display: block; /* Make buttons block-level elements */
    width: 100%; /* Make buttons fill the entire width of the menu */
  }
}

button {
  z-index: 1;
  text-decoration: none;
  background: rgba(238, 251, 245, 0.864);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

button:hover{
  background-color: #e1fbf2;
  box-shadow: 1px 1px 1px #aaa;
}

.smiley {
  height: 45vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .smiley {
    animation: smiley-spin infinite 15s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: rgb(212, 251, 233);
  background-image: url('https://img.freepik.com/free-vector/flower-seamless-pattern-background_1217-761.jpg?w=740&t=st=1683105026~exp=1683105626~hmac=9839fc1f9f9270399804001e8efff90d229a3b3d3f1affc61206a013dd8842e4')
}

@keyframes smiley-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.finished {
  position: absolute;
  text-align: center;
  color:black;
}
